<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveBackupV2 - About DriveBackupV2</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <div class="text-center flex-column text-content">
      <a href="/"><img class="mb-4" src="/images/logo.png" alt="" width="64" height="64"></a>
      <h1 class="h3 mb-3">About DriveBackupV2</h1>
      <h2 class="h4 mb-3">What is This?</h2>
      <p>
        Have you ever lost your Minecraft world before?
        <br/><br/>
        Maybe your hard drive died. Maybe you used a server hosting service that terminated without warning. Maybe you just accidentally deleted it.
        <br/><br/>
        DriveBackupV2 is a plugin that aims to provide an extra layer of security to your data by backing it up remotely.
      </p>
      <h2 class="h4 mb-3">Features:</h2>
      <ul>
        <li>Creates and/or uploads backups to Google Drive, OneDrive, Dropbox, or a remote (S)FTP server</li>
        <li>Can create a backup out of any files or folders on your Minecraft server</li>
        <li>Can include files and MySQL databases from external servers (such as a BungeeCord one!)</li>
        <li>Deletes backups locally and remotely if they exceed a specified amount</li>
        <li>Can automatically run backups at an interval or on a schedule</li>
        <li>And <b>much</b> more!</li>
      </ul>
      <h2 class="h4 mb-3">Setup:</h2>
      <p>
        See our <a href="https://github.com/MaxMaeder/DriveBackupV2/wiki" target="_blank">wiki</a>! You can also check out our <a href="/privacy">privacy policy</a>.
      </p>
    </div>
  </body>
</html>