<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveBackupV2 - Privacy Policy</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <div class="text-center flex-column text-content">
      <img class="mb-4" src="/images/logo.png" alt="" width="128" height="128">
      <h1 class="h3 mb-3">Privacy Policy</h1>
      <p>
        If you use the DriveBackupV2 Plugin, you agree to this privacy policy.
      </p>
      <h2 class="h4 mb-3">Backup Files:</h2>
      <p>
        DriveBackupV2 will not and cannot collect any data regarding your server files. Any backup created is your property and not available to anyone else. This plugin does not access any sensitive data in your Google Drive, OneDrive and/or Dropbox that is not related to backing up your Minecraft world backups.
      </p>
      <h2 class="h4 mb-3">External Services:</h2>
      <p>
        DriveBackupV2 may use external services such as the Google Drive API. If you choose to use these services, then Google's or any other service's privacy policies and terms of service will take effect.
      </p>
      <h2 class="h4 mb-3">Metrics:</h2>
      <p>
        This plugin uses bstats.org to collect metrics, such as the current count of servers using DriveBackupV2. You can disable it in your bstats config file.
      </p>
    </div>
  </body>
</html>