<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveBackupV2 - Success</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="checked.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Success! You can now return to your Minecraft client</h1>
    </form>
  </body>
</html>